<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col">
            <h1 class="display-2"><b>Reputación AI</b></h1>
        </div>
    </div>
</div>


<div class="container" style="margin-bottom: 50px;">
    <div class="row">
        <div class="col">
            <p class="text-secondary" style="margin-bottom: 7px;">Descubre de forma gratuita qué opina la IA
                de tu
                empresa.</p>
            <p class="text-secondary" style="margin-bottom: 7px;">Obtendrás un análisis de sentimiento
                (positivo, neutral,
                negativo) y una puntuación
                de salud de marca (ej 8/10)</p>
            <p class="text-secondary" style="margin-bottom: 7px;">Además, podrás obtener un resumen
                ejecutivo con los
                principales puntos del análisis</p>
        </div>
    </div>
</div>